Theoretical Questions
#1.What are data structures, and why are they important?
#Ans.Data structures are ways of organizing and storing data to make it easier to access,modify and manage.They are important because they enable efficient data manipulation and problem-solving.Choosing the right data structure optimizes performance making operations like searching,inserting and deleting faster and more memory-efficient.
#2.Explain the difference between mutable and immutable data types with examples.
#Ans.Mutable data types allow their values to be changed after creation while immutable data types cannot be modified once they are created.For example,lists,dictionaries and sets are mutable because their contents can be modified directly.In contrast,strings,tuples and integers are immutable meaning any change to them results in the creation of a new object.For instance modifying a list element is possible, but trying to change a character in a string will raise an error. The key difference is that mutable objects can be updated in place, whereas immutable objects require new objects for any modification.
Example of mutable data types:

list = [1, 2, 3, 4]

list[0] = 4

Example of immutable data types:

str = "hello"

str[0] = H

#3.What are the main differences between lists and tuples in Python?
#Ans.Main differences between lists and tuples in Python are:
Mutability:

Lists are mutable.You can modify,add or remove elements after the list is created.
Tuples are immutable.Once a tuple is created its elements cannot be changed,added or removed.

Use Case:

Lists are used when you need to store data that may change (e.g.,adding/removing items).
Tuples are used when the data should remain constant and not be modified, offering better performance and safety for fixed collections.

Methods:

Lists have more built-in methods (like append(),remove(),pop()) for modifying data.
Tuples have fewer methods (mostly count() and index()), as they cannot be modified.

#4.Describe how dictionaries store data.
#Ans.In Python,Dictionaries store data as key-value pairs.Each key is unique and maps to a corresponding value.The data is organized in an unordered way meaning the items are not stored in any specific order.
#5.Why might you use a set instead of a list in Python?
Ans.I might use a set instead of a list in python to ensure unique elements,as sets automatically eliminate duplicates.Sets also provide faster membership testing compared to lists.They support set operations like union,intersection and difference,which are useful for working with collections of unique items. Additionally, sets are more memory efficient when storing unique values. However,if i need to maintain ordered elements or require indexing and slicing, a list would be more suitable.
#6.What is a string in Python, and how is it different from a list?
#Ans.A string in python is an immutable sequence of characters used to represent text enclosed in single or double quotes.It cannot be modified after creation.A list on the other hand is a mutable collection that can store elements of any type (including other lists or strings) and can be modified by adding,removing or changing elements.Strings are used specifically for text while lists are more versatile and can hold a variety of data types.Additionally,Strings support methods like .lower() or .upper() while lists support methods like .append() or .remove().
#7.How do tuples ensure data integrity in Python?
#Ans.Tuples ensure data integrity in python by being immutable, meaning once a tuple is created its elements cannot be modified,added or removed.This immutability prevents accidental changes to the data ensuring its consistency throughout the program.Additionally because tuples are immutable,they can be used as keys in dictionaries or elements in sets maintaining their integrity in situations where data stability is crucial.
#8.What is a hash table, and how does it relate to dictionaries in Python?
#Ans.A hash table is a data structure that stores key-value pairs and uses a hash function to map keys to specific locations in memory for quick data retrieval.Python dictionaries are implemented using hash tables allowing for efficient access,insertion and deletion of values based on their keys.In Python dictionaries,the keys are hashed to determine where their corresponding values are stored in memory.If two keys hash to the same location,Python uses methods like open addressing or chaining to handle these collisions.
#9.Can lists contain different data types in Python?
#Ans.Yes,lists in Python can contain elements of different data types.A single list can store various types of data such as integers, strings,floats,booleans and even other lists or objects.This allows for great flexibility in organizing and managing data within a single list.
#10.Explain why strings are immutable in Python.
#Ans.Strings are immutable in python to ensure data integrity, efficiency and security.Immutability prevents accidental changes to string data allowing for consistent and reliable handling.It also enables memory optimization as identical strings can share memory.Additionally, immutable strings are safer in multi-threaded environments because they cannot be altered by one thread while being accessed by another.
#11.What advantages do dictionaries offer over lists for certain tasks?
#Ans.Dictionaries offer advantages over lists when you need fast lookups by key as they use a hash table for efficient access.They also store data as key-value pairs making them ideal for tasks where you need to associate data.Dictionaries ensure unique keys automatically unlike lists that can have duplicates.They are also more efficient for updates because you can directly access and modify values using keys.Overall, dictionaries are better for tasks requiring quick access,unique identification and structured data representation.
#12.Describe a scenario where using a tuple would be preferable over a list.
#Ans.A tuple would be preferable over a list when you need to store data that should remain unchanged throughout the program such as coordinates (latitude and longitude) for a location.Since tuples are immutable they prevent accidental modification of the data ensuring data integrity.Additionally,tuples are more memory-efficient and offer faster access compared to lists making them ideal for fixed collections of items.For example,using a tuple for coordinates conveys that the data is intended to remain constant.
#13.How do sets handle duplicate values in Python?
#Ans.In Python,sets automatically eliminate duplicate values.If you try to add a duplicate element to a set.It simply ignores the addition and keeps only the unique values.This ensures that a set always contains only unique elements.For example,if you try to add the same value twice, the set will remain unchanged.
#14.How does the “in” keyword work differently for lists and dictionaries
#Ans.The in keyword works differently for lists and dictionaries in python.In lists, it checks if a specific element is present,returning (True) if the element exists. In dictionaries,it checks if a specific key exists,returning (True) if the key is found.For example,3 in [1, 2, 3] checks for the element 3, while "a" in {"a": 1, "b": 2} checks for the key "a".
#15.Can you modify the elements of a tuple? Explain why or why not.
#Ans.No,we cannot modify the elements of a tuple in python because tuples are immutable.Once a tuple is created its elements cannot be changed,added or removed.This immutability ensures data integrity and allows tuples to be used safely as keys in dictionaries or elements in sets.
#16.What is a nested dictionary, and give an example of its use case?
#Ans.A nested dictionary is a dictionary where the values are themselves dictionaries allowing you to store complex data.For example, you could use a nested dictionary to store information about employees in a company where each employee's name is a key, and the value is a dictionary containing their job title, department, and contact details.
Use case employees info = {"John": {"job_title": "Manager", "department": "Sales", "contact": {"email": "john@email.com", "phone": "123-456-7890"}}, "Sarah": {"job_title": "Developer", "department": "IT", "contact": {"email": "sarah@email.com", "phone": "098-765-4321"}}
We can access to this info through this way: employees["Sarah"]["email"]["phone"]

#17.Describe the time complexity of accessing elements in a dictionary.
#Ans.In Python,accessing elements in a dictionary is generally very fast because dictionaries use a hash table.When you provide a key,Python calculates a hash of that key to directly locate the associated value in the table allowing for quick retrieval.While rare,if multiple keys happen to hash to the same location python may need to handle this by checking the other values at that location which could slow things down slightly but overall,dictionary lookups are highly efficient.
#18.In what situations are lists preferred over dictionaries?
#Ans.Lists are preferred over dictionaries when the order of elements matters as lists maintain the sequence of elements.They are also ideal when elements are accessed by their position (index) such as in cases where you need to process data in a specific order.Lists are better for homogeneous data or simpler tasks that don't require key-value mappings.Additionally,for smaller datasets or scenarios where performance is not a primary concern,lists offer a straightforward and easy-to-use structure.
#19.Why are dictionaries considered unordered, and how does that affect data retrieval?
#Ans.Dictionaries in python are considered unordered because they store key-value pairs using a hash table which does not maintain the insertion order of elements.While this allows for fast access to values based on their keys it means that dictionaries do not inherently guarantee the order of items.However after new update dictionaries preserve insertion order as an implementation detail but the main focus remains on efficient data retrieval by key.
#20.Explain the difference between a list and a dictionary in terms of data retrieval.
#Ans.The main difference between a list and a dictionary in terms of data retrieval is how elements are accessed.In a list data is accessed by index (position) and lists are ordered it means the order of elements is preserved.In a dictionary data is accessed by key and dictionaries are optimized for fast lookups by key.While dictionaries are unordered they provide faster access to values compared to lists where you typically have to search sequentially for an element if you don't know its index.

In [1]:
#1. Write a code to create a string with your name and print it.
name = "vishal"
print(name)

vishal

In [2]:
#2. Write a code to find the length of the string "Hello World".
str = "Hello World"
len(str)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
str = "Python Programming"
str[0:3]

'Pyt'

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
str = "hello"
str.upper()

'HELLO'

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str.replace("apple","orange")

'I like orange'

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
num = [1, 2, 3, 4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
alphabets = ['a', 'b', 'c', 'd']
alphabets[1]

'b'

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a = (10, 20, 30)
print(a)

(10, 20, 30)

In [12]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
fruits[0]

'apple'

In [13]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a = (1, 2, 3, 2, 4, 2)
a.count(2)

3

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [15]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
'banana' in fruits

True

In [16]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set ={1, 2, 3, 4, 5}
print(set)

{1, 2, 3, 4, 5}

In [17]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [18]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
num = (10, 20, 30)
print(num)

(10, 20, 30)

In [19]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
fruits[0]

'apple'

In [20]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
numbers = (1, 2, 3, 2, 4, 2)
numbers.count(2)

3

In [21]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [22]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
b = ('apple', 'orange', 'banana')
'banana' in b

True

In [23]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
set_numbers = (1, 2, 3, 4, 5)
print(set_numbers)

(1, 2, 3, 4, 5)

In [24]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}